.star-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button4 {
  position: relative;
  line-height: 100%;
}
.x-icon2 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
}
.button3,
.star-icon3,
.x-icon2 {
  overflow: hidden;
  display: none;
}
.button3 {
  width: 112px;
  border-radius: var(--radius-200);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--space-300);
  box-sizing: border-box;
  gap: var(--space-200);
}
.star-icon3 {
  height: 16px;
  width: 16px;
  position: relative;
  flex-shrink: 0;
}
.login1 {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.x-icon3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-group1,
.button5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.button5 {
  border-radius: var(--br-9xs);
  background-color: var(--background-brand-default);
  border: 1px solid var(--background-brand-default);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-base) var(--padding-233xl);
  gap: var(--space-200);
  font-size: var(--font-size-5xl);
  color: var(--text-brand-on-brand);
  font-family: var(--font-lato);
}
.button-group1 {
  height: 60px;
  justify-content: flex-start;
  gap: var(--space-400);
  text-align: left;
  font-size: var(--single-line-body-base-size);
  color: var(--text-neutral-default);
  font-family: var(--single-line-body-base);
}
@media screen and (max-width: 675px) {
  .button5 {
    padding-left: var(--padding-107xl);
    padding-right: var(--padding-107xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .login1 {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .button5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
