.image-icon1 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.tabitha-job,
.view-profile {
  position: relative;
  font-weight: 500;
}
.view-profile {
  align-self: stretch;
  font-size: var(--font-size-mini);
  font-weight: 300;
}
.name-and-profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.profile-image-and-details-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.icons11 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.profile-image-and-details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.icons12,
.menu1 {
  position: relative;
}
.icons12 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.menu1 {
  font-weight: 500;
  display: inline-block;
  min-width: 53px;
}
.profile-navigation-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icons13 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.notifications1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 115px;
}
.profile-navigation-items1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icons14 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.messages1 {
  position: relative;
  font-weight: 500;
}
.profile-navigation-items2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icons15,
.saved {
  position: relative;
}
.icons15 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.saved {
  font-weight: 500;
  display: inline-block;
  min-width: 54px;
}
.profile-navigation-items3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icons16 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.favorites {
  position: relative;
  font-weight: 500;
}
.profile-navigation-items4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.icons17 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.friends1 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.profile-navigation-items5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icons18 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.groups1 {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
}
.profile-navigation-items6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icons19 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.videos1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 59px;
}
.profile-navigation-items7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.icons20 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.find-a-vet {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
}
.profile-navigation-items8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.profile-image-content,
.profile-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-navigation {
  justify-content: center;
  gap: var(--gap-26xl);
  font-size: var(--font-size-xl);
}
.profile-image-content {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.post {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--background-default-default);
  text-align: left;
}
.post-input {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-3xs) var(--padding-65xl);
  background-color: var(--color-black);
  height: 48px;
  border-radius: var(--br-8xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.post-input:hover {
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
}
.privacy-terms-and {
  position: relative;
  font-weight: 300;
}
.post-input-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-32xl);
  font-size: var(--font-size-3xs);
}
.profile-image-content-parent {
  height: 1193px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.profile-content {
  width: 249.5px;
  border-radius: var(--br-11xs);
  background-color: var(--background-default-default);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-xl)
    var(--padding-lgi);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-lato);
}
@media screen and (max-width: 450px) {
  .favorites,
  .find-a-vet,
  .friends1,
  .groups1,
  .menu1,
  .messages1,
  .notifications1,
  .post,
  .saved,
  .videos1 {
    font-size: var(--single-line-body-base-size);
  }
  .post-input {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
