@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;
  --single-line-body-base: Inter;
  --font-leckerli-one: "Leckerli One";

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-lg: 18px;
  --font-size-11xl: 30px;
  --font-size-sm: 14px;
  --font-size-lgi: 19px;
  --single-line-body-base-size: 16px;
  --font-size-4xl: 23px;
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-3xs: 10px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-15xl: 34px;
  --font-size-8xl: 27px;
  --font-size-smi: 13px;
  --font-size-31xl: 50px;
  --font-size-10xl: 29px;
  --font-size-36xl: 55px;
  --font-size-25xl: 44px;
  --font-size-14xl: 33px;
  --font-size-51xl: 70px;
  --font-size-37xl: 56px;
  --font-size-23xl: 42px;

  /* Colors */
  --background-default-default: #fff;
  --color-gray-100: #968a8a;
  --color-gray-200: #868686;
  --text-default-secondary: #757575;
  --background-brand-default: #2c2c2c;
  --color-gray-300: #252525;
  --black-heading-color: #212121;
  --text-default-default: #1e1e1e;
  --button: #1a1a1a;
  --color-gray-400: rgba(255, 255, 255, 0.5);
  --color-gray-500: rgba(255, 255, 255, 0.6);
  --miscellaneous-bar-border: rgba(0, 0, 0, 0.3);
  --color-gray-600: rgba(255, 255, 255, 0.8);
  --color-dimgray-100: #686868;
  --color-dimgray-200: #675d5d;
  --color-dimgray-300: #5c5f5e;
  --color-dimgray-400: #4e4d4d;
  --color-dimgray-500: #4d4d4d;
  --color-dimgray-600: rgba(78, 77, 77, 0.56);
  --color-black: #000;
  --color-mediumspringgreen: #4ddd76;
  --color-darkslategray-100: #464646;
  --color-darkslategray-200: #333;
  --text-neutral-default: #303030;
  --color-darkslategray-300: rgba(51, 51, 51, 0.09);
  --color-gainsboro-100: #e3e3e3;
  --border-default-default: #d9d9d9;
  --color-darkgray: #b3b3b3;
  --color-whitesmoke-100: #f8f8f8;
  --text-brand-on-brand: #f5f5f5;
  --color-whitesmoke-200: #f2f2f2;
  --color-whitesmoke-300: rgba(234, 234, 234, 0.8);
  --color-darkturquoise-100: #00ceea;
  --color-brown: #a02525;
  --color-sandybrown: #dd9b4d;
  --color-red: #ff0000;
  --color-silver-100: #b1b6b5;
  --color-blueviolet: rgba(151, 71, 255, 0.33);
  --color-saddlebrown: #613105;

  /* Spacing */
  --radius-200: 8px;
  --space-600: 24px;
  --space-400: 16px;
  --space-200: 8px;
  --space-300: 12px;
  --radius-100: 4px;

  /* Gaps */
  --gap-37xl: 56px;
  --gap-9xl: 28px;
  --gap-103xl: 122px;
  --gap-42xl: 61px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-24xl: 43px;
  --gap-3xs: 10px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-273xl: 292px;
  --gap-2xl: 21px;
  --gap-8xs: 5px;
  --gap-9xs: 4px;
  --gap-47xl: 66px;
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-sm: 14px;
  --gap-10xl: 29px;
  --gap-4xl: 23px;
  --gap-6xl: 25px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-xs: 12px;
  --gap-lg: 18px;
  --gap-4xs: 9px;
  --gap-11xs: 2px;
  --gap-2xs: 11px;
  --gap-32xl: 51px;
  --gap-31xl: 50px;
  --gap-26xl: 45px;
  --gap-10xs: 3px;
  --gap-164xl: 183px;
  --gap-27xl: 46px;
  --gap-12xl: 31px;
  --gap-72xl: 91px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-241xl: 260px;
  --gap-6xs: 7px;
  --gap-3xl: 22px;
  --gap-33xl: 52px;
  --gap-13xl: 32px;
  --gap-59xl: 78px;
  --gap-20xl: 39px;
  --gap-348xl: 367px;
  --gap-73xl: 92px;
  --gap-71xl: 90px;
  --gap-30xl: 49px;
  --gap-16xl: 35px;
  --gap-41xl: 60px;
  --gap-7xs: 6px;
  --gap-40xl: 59px;
  --gap-38xl: 57px;
  --gap-51xl: 70px;
  --gap-78xl: 97px;
  --gap-29xl: 48px;
  --gap-69xl: 88px;
  --gap-25xl: 44px;
  --gap-48xl-1: 67.1px;
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-105xl: 124px;
  --gap-43xl: 62px;
  --gap-49xl: 68px;

  /* Paddings */
  --padding-121xl: 140px;
  --padding-92xl: 111px;
  --padding-36xl: 55px;
  --padding-8xl: 27px;
  --padding-xl: 20px;
  --padding-mini: 15px;
  --padding-21xl: 40px;
  --padding-10xl: 29px;
  --padding-3xs: 10px;
  --padding-52xl: 71px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-232xl: 251px;
  --padding-106xl: 125px;
  --padding-xs: 12px;
  --padding-174xl: 193px;
  --padding-lg: 18px;
  --padding-smi: 13px;
  --padding-base: 16px;
  --padding-lgi: 19px;
  --padding-12xs-1: 0.1px;
  --padding-lg-1: 18.1px;
  --padding-7xs: 6px;
  --padding-12xs: 1px;
  --padding-9xs: 4px;
  --padding-18xl: 37px;
  --padding-305xl: 324px;
  --padding-143xl: 162px;
  --padding-65xl: 84px;
  --padding-11xl: 30px;
  --padding-4xs: 9px;
  --padding-sm: 14px;
  --padding-48xl: 67px;
  --padding-82xl: 101px;
  --padding-100xl: 119px;
  --padding-27xl: 46px;
  --padding-31xl: 50px;
  --padding-131xl: 150px;
  --padding-56xl: 75px;
  --padding-7xl: 26px;
  --padding-79xl: 98px;
  --padding-233xl: 252px;
  --padding-107xl: 126px;
  --padding-19xl: 38px;
  --padding-42xl: 61px;
  --padding-13xl: 32px;
  --padding-10xs: 3px;
  --padding-6xl: 25px;
  --padding-86xl: 105px;
  --padding-33xl: 52px;
  --padding-71xl: 90px;
  --padding-39xl: 58px;
  --padding-63xl-1: 82.1px;
  --padding-63xl: 82px;
  --padding-34xl: 53px;
  --padding-mid: 17px;
  --padding-58xl: 77px;
  --padding-61xl: 80px;
  --padding-15xl: 34px;
  --padding-8xs: 5px;
  --padding-94xl: 113px;
  --padding-28xl: 47px;
  --padding-54xl: 73px;
  --padding-60xl: 79px;
  --padding-55xl-9: 74.9px;
  --padding-14xl: 33px;
  --padding-30xl: 49px;
  --padding-2xl: 21px;
  --padding-4xl: 23px;
  --padding-41xl: 60px;
  --padding-172xl: 191px;
  --padding-76xl: 95px;
  --padding-29xl: 48px;

  /* Border radiuses */
  --br-12xs: 1px;
  --br-11xs: 2px;
  --br-8xs: 5px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-mini: 15px;
  --br-xl: 20px;
  --br-10xs: 3px;
  --br-3xs: 10px;
}